@CHARSET "UTF-8";
/**
    */
body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, button, input, textarea, p, address, em, label, img, th, td, iframe, sub, sup{
    padding: 0;
    margin: 0;
}
body {
    color: #333;
    font-size: 0.625em;
    /*禁止复制、选择*/
    /*-webkit-user-select: none;   Chrome all / Safari all */
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li {
    margin: 0;
    padding: 0;
}
ol, ul {
    list-style: none;
}
img{
    border:none;
    display:inline-block;
}
input, select, input, textarea{
    outline: none;
}
select, input {
    vertical-align: middle;
}
a:link{
    text-align: left;
    text-decoration: none;
}