@CHARSET "UTF-8";
.header{
    width:100%;
    height:50px;
}
.h_item{
	   float:left;
}
.h_logo{
	width:50px;
    height:100%;
}
.h_n_item{
	float:left;
    border-bottom:2px solid #dd4b39;
}
.content{
    width:100%;
}
.c_left{
	float:left;
	width:100px;
}
.c_left .on{
    border-left: 4px solid #dd4b39;
    padding-left: 16px;
}
.c_l_item{
	padding-left: 20px;
}
.c_l_item>a{
    color:#222;
	line-height: 50px;
	font-size: 16px;
}
.c_l_item:hover{
    border-left: 4px solid red;
    padding-left: 16px;
}
